.container {
  padding: 0 2rem;
}
.mobile {
  padding: 20px;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .box {
  border-radius: 74px;
  height: 401px;
  width: 500px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
.box h6 {
  padding: 8px 35px;
  color: #818181;
  max-width: 664px;
  font-size: 1.2em;
  font-family: serif;
  line-height: 1.1;
  text-align: center;
}
.questions {
  padding: 4px 35px;
  margin: 15px 45px;
  color: #6231ec;
  background-color: #f7f7f7;
  border-radius: 10em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header,
.questions {
  visibility: hidden;
  opacity: 1;
  animation: 10s slider;
  animation-iteration-count: infinite;
}
@keyframes slider {
  0% {
    visibility: visible;
    margin-top: 100%;
    height: 300%;
  }
  100% {
    visibility: hidden;
    transition: visibility 0s 5s ease-in-out;
  }
}
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radioContainer input {
  position: absolute;
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  border: 4px solid #6231ec;
  margin-top: 15px;
  margin-left: -20px;
}
.radioContainer input:checked ~ .checkmark {
  animation: background-fade 10s forwards;
  animation-iteration-count: infinite;
}

@keyframes background-fade {
  80% {
    background: #ffffff;
  }
  100% {
    background: #6231ec;
  }
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radioContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
